{%extends "layout.html"%} {%block body%}
<div class="position-sticky">
  <br />
  <h1>{{article.title}}</h1>
  <hr />
  <small>By {{article.author}}, Published on {{article.create_date}}</small>
  <br />
  <h1>Upload new File</h1>
  <form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>
  {%if article.image %}
  <img src="{{'/static/' + article.image }}" alt="Image" /> {% endif %}
  <img
    src="{{url_for('static', filename='images/download.png')}}"
    class="image"
    align="middle"
    width="100,"
    height="50"
  />
  <hr />
  <div>{{ article.body|safe }}</div>
  <br />
  <a href="/dashboard" class="btn btn-success btn-lg" role="button">Back</a>
</div>
{%endblock%}
